<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lector PDF Inteligente</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" type="image/png" href="static/logo_te.jpg">
</head>
<body>
    <header>
        <div class="logo">
            <img src="static/logo_te.jpg" alt="Logo Empresa">
        </div>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">Nosotros</a></li>
                <li><a href="#faq">Preguntas frecuentes</a></li>
                <li><a href="#comentarios">Comentarios</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <section id="home">
            <h1>Conversa con Facilita: Tu Asistente Virtual al Instante</h1>
            <h2>Chatea ahora y resuelve tus dudas al momento</h2>
            <div class="main-content">
                <div class="chat-container">
                    <div class="chat-box" id="chat-box">
                        <ul class="chat-log" id="chat-log">
                            <!-- Aquí se mostrarán los mensajes del asistente -->
                        </ul>
                    </div>
                    <form id="chat-form" action="/get-answer" method="post" class="input-container">
                        <textarea id="question" name="question" class="question-box" placeholder="Escribe tu pregunta aquí..." required></textarea>
                        <button type="submit" class="btn-send" id="send-button"><i class="fa fa-paper-plane"></i></button>
                    </form>
                    <div class="quick-replies">
                        <button class="quick-reply" data-message="¿Cuáles son los electrodomésticos cubiertos?">¿Cuáles son los electrodomésticos cubiertos?</button>
                        <button class="quick-reply" data-message="¿Cómo puedo solicitar una reparación?">¿Cómo puedo solicitar una reparación?</button>
                        <button class="quick-reply" data-message="¿Cuánto tiempo tarda una reparación?">¿Cuánto tiempo tarda una reparación?</button>
                    </div> 
                </div>
            </div>
            <div class="error-message" id="error-message" style="display:none;">
                <p id="error-text"></p>
            </div>
            {% if answer %}
            <div class="answer-container">
                <h2>Respuesta:</h2>
                <p>{{ answer }}</p>
            </div>
            {% endif %}
            {% if error_message %}
            <div class="error-message">
                <p>{{ error_message }}</p>
            </div>
            {% endif %}
        </section>
        <section id="about">
            <h2>Facilita: Simplifica tus imprevistos</h2>
            <p>El servicio <a href="https://www.totalenergies.es/es/hogares/mantenimiento-de-instalaciones?utm_source=google&utm_medium=cpc&utm_campaign=S_B_F&utm_term=facilita%20totalenergies&gad_source=1&gclid=Cj0KCQjwhb60BhClARIsABGGtw9VfjeABwQVYvjlMgAo6uqf0bF5JAPg3Xr55zjJ6MxRjYhgcFhcM_AaAtGXEALw_wcB" class="link-red">Facilita</a> de TotalEnergies es una propuesta para quienes buscan
                contar con una asistencia técnica de primera.
            </p>
            <h3>¿Qué incluye el servicio Facilita?</h3>
            <ul>
                <li>Mantenimiento preventivo</li>
                <li>Tarifas adaptadas</li>
                <li>Asistencia técnica</li>
                <li>Cobertura amplia</li>
                <li>Promociones y planes especiales</li>
            </ul>
            <h3>¿Cuáles son nuestros planes?</h3>
            <ul>
                <li>Facilita Luz</li>
                <li>Facilita Luz y Gas</li>
                <li>Facilita Plus</li>
            </ul>
            <section id="faq">
                <h2>Preguntas Frecuentes</h2>
                <div class="faq-item">
                    <div class="faq-question" onclick="toggleAnswer(this)">
                        <h3>¿Cómo puedo utilizar el chat?</h3>
                    </div>
                    <div class="faq-answer">
                        <p>Escribe tu pregunta o consulta en el campo de texto y presiona el botón enviar.</p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-question" onclick="toggleAnswer(this)">
                        <h3>¿Qué tipo de preguntas puedo hacer?</h3>
                    </div>
                    <div class="faq-answer">
                        <p>Puedes preguntar sobre los electrodomésticos incluidos en las coberturas, coste de las repaciones, etc. </p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-question" onclick="toggleAnswer(this)">
                        <h3>¿El servicio es gratuito?</h3>
                    </div>
                    <div class="faq-answer">
                        <p>Sí, el uso de nuestro asistente virtual es completamente gratuito.</p>
                    </div>
                </div>
            </section>

        </section>
        <section id="comentarios">
            <h2>Comentarios</h2>
            <form id="comment-form">
                <div class="form-group">
                    <label for="user-comment">Deja tu comentario:</label>
                    <textarea id="user-comment" name="user-comment" class="comment-box" placeholder="Escribe tu comentario aquí..." required></textarea>
                </div>
                <div class="form-actions">
                    <div class="rating">
                        <h3>Tu puntuación:</h3>
                        <div class="stars">
                            <i class="fa fa-star" data-value="1"></i>
                            <i class="fa fa-star" data-value="2"></i>
                            <i class="fa fa-star" data-value="3"></i>
                            <i class="fa fa-star" data-value="4"></i>
                            <i class="fa fa-star" data-value="5"></i>
                        </div>
                        <p id="rating-value">0</p>
                    </div>
                    <button type="submit" class="btn-send" id="comment-button">Enviar</button>
                </div>
            </form>
        </section>
           
    </div>
    <footer>
        <div class="footer-content">
            <div class="footer-section logo-section">
                <img src="static/logo_te.jpg" alt="Logo Empresa">
            </div>
            <div class="footer-section">
                <h3>TotalEnergies en España</h3>
                <ul>
                    <li><a href="https://www.totalenergies.es/es/quienes-somos">Quiénes somos</a></li>
                    <li><a href="https://www.totalenergies.es/es/nuestro-compromiso">Nuestro compromiso</a></li>
                    <li><a href="https://www.totalenergies.es/es/talento">Talento</a></li>
                    <li><a href="https://www.totalenergies.es/es/nuestra-actualidad">Nuestra actualidad</a></li>
                    <li><a href="https://www.totalenergies.es/es/proveedores">Proveedores</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Servicios</h3>
                <ul>
                    <li><a href="#">Mantenimiento</a></li>
                    <li><a href="#">Facilita luz</a></li>
                    <li><a href="#">Facilita plus</a></li>
                    <li><a href="#">Calefacción</a></li>
                    <li><a href="#">Climatización</a></li>
                </ul>
            </div>
            <div class="footer-section" id="contacto">
                <h3>Te ayudamos</h3>
                <ul>
                    <li><a href="#">Qué necesitas</a></li>
                    <li><a href="#">Preguntas frecuentes</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
                <div class="contact-info">
                    <div class="contact-item">
                        <i class="fas fa-phone"></i>
                        <a href="tel:900907000">900 907 000</a>
                    </div>
                    <div class="contact-item">
                        <i class="fas fa-envelope"></i>
                        <a href="mailto:atcliente@totalenergies.com">Escríbenos</a>
                    </div>
                </div>
            </div>
            <div class="footer-section">
                <h3>Blog</h3>
                <p>TotalEnergies Plaza de los Ferroviarios, 1. 33012 Oviedo</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; TotalEnergies. Todos los derechos reservados.</p>
        </div>
    </footer>
    <script>

        function toggleAnswer(element) {
            const answer = element.nextElementSibling;
            if (answer.style.display === "block") {
                    answer.style.display = "none";
                    element.classList.remove("active");
            } else {
                    answer.style.display = "block";
                    element.classList.add("active");
                }
            }
        document.addEventListener('DOMContentLoaded', (event) => {
            const chatLog = document.getElementById('chat-log');
            const errorMessage = document.getElementById('error-message');
            const errorText = document.getElementById('error-text');
            const sendButton = document.getElementById('send-button');
            const questionInput = document.getElementById('question');
            
            //Añadir mensaje inicial
            const initialMessage = document.createElement('li');
            initialMessage.classList.add('model-message');
            initialMessage.textContent = 'Hola! Soy tu asistente virtual de Facilita. ¿En qué puedo ayudarte hoy?';
            chatLog.appendChild(initialMessage);
            
                 // Funcionalidad para los botones de respuestas rápidas
        document.querySelectorAll('.quick-reply').forEach(button => {
            button.addEventListener('click', (e) => {
                const question = e.target.getAttribute('data-message');
                
                // Crear y mostrar el mensaje del usuario en el chat log
                const userMessage = document.createElement('li');
                userMessage.classList.add('user-message');
                userMessage.textContent = question;
                chatLog.appendChild(userMessage);
                scrollToBottom();

                // Enviar la pregunta directamente al servidor
                const formData = new FormData();
                formData.append('question', question);

                fetch('/get-answer', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    if (data.answer) {
                        const modelMessage = document.createElement('li');
                        modelMessage.classList.add('model-message');
                        modelMessage.textContent = data.answer;
                        chatLog.appendChild(modelMessage);
                        scrollToBottom();
                    } else if (data.error) {
                        errorMessage.style.display = 'block';
                        errorText.textContent = data.error;
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    errorMessage.style.display = 'block';
                    errorText.textContent = 'Error al obtener la respuesta.';
                });
            });
        });

        function scrollToBottom() {
            const chatBox = document.getElementById('chat-box');
            chatBox.scrollTop = chatBox.scrollHeight;
        }
        
    

        function sendMessage(){
            
            const question = questionInput.value;
            
            if (!question) {
                    errorMessage.style.display = 'block';
                    errorText.textContent = 'Por favor, completa todos los campos.';
                    return;
                }
    
            errorMessage.style.display = 'none';
           

            //Crear y mostrar el mensaje del usuario en el chat log
            const userMessage = document.createElement('li');
            userMessage.classList.add('user-message');
            userMessage.textContent = question;
            chatLog.appendChild(userMessage);
            scrollToBottom();
            
            //Crear un mensaje temporal "Cargando.. " con el circulo animado
            const loadingMessage = document.createElement('li');
            loadingMessage.classList.add('model-message', 'loading-message');

            //Crear el circulo animado
            const loadingCircle = document.createElement('div');
            loadingCircle.classList.add('loading-circle');
            
            //Añadir el circulo animado y el texto "Cargando..." al mensaje
            loadingMessage.appendChild(loadingCircle);
            loadingMessage.appendChild(document.createTextNode('Cargando...'));

            chatLog.appendChild(loadingMessage);
            scrollToBottom();


            const formData = new FormData();
            formData.append('question', question);
            
    
            fetch('/get-answer', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                   //Eliminar el mensaje temporal "Cargando.."
                   chatLog.removeChild(loadingMessage);

                   //Crear y añadir el mensaje de respuesta con estilo normal
                   const modelMessage = document.createElement('li');
                   modelMessage.classList.add('model-message');
                   modelMessage.textContent = data.answer || 'Lo siento, hubo un problema con la respuesta. '
                   chatLog.appendChild(modelMessage);
                   scrollToBottom();
                    
                })
                .catch(error => {
                    // Eliminar el mensaje temporal "Cargando..." y mostrar un mensaje de error
                    chatLog.removeChild(loadingMessage);
                    const errorMessageText = document.createElement('li');
                    errorMessageText.classList.add('model-message');
                    errorMessageText.textContent = 'Error al obtener la respuesta. Por favor, inténtalo de nuevo.';
                    chatLog.appendChild(errorMessageText);
                    console.error('Error:', error);
                    errorMessage.style.display = 'block';
                    errorText.textContent = 'Error al obtener la respuesta.';
                    scrollToBottom();
                });

                //Para limpiar el area de texto
                questionInput.value = ''; 
        }

        //Evento de clic para el boton enviar
        sendButton.addEventListener('click', (e) => {
            e.preventDefault();
            sendMessage();
        });

        //Evento de presionar Enter en el area de texto
        questionInput.addEventListener('keydown', (e) => {
            if(e.key === 'Enter'){
                e.preventDefault();
                sendMessage();
            }
        })
            

            function scrollToBottom() {
                const chatBox = document.getElementById('chat-box');
                chatBox.scrollTop = chatBox.scrollHeight;
            }

            // Código para el manejo de la puntuación con estrellas
            const stars = document.querySelectorAll('.stars i');
            const ratingValue = document.getElementById('rating-value');

            stars.forEach((star, index) => {
                star.addEventListener('click', () => {
                    const value = parseInt(star.getAttribute('data-value'));
                    ratingValue.textContent = value;
                    stars.forEach((s, i) => {
                        if (i < value) {
                            s.classList.add('selected');
                        } else {
                            s.classList.remove('selected');
                        }
                    });
                });
            });

            stars.forEach((star) => {
                star.addEventListener('mouseenter', () => {
                    resetStars();
                    const value = parseInt(star.getAttribute('data-value'));
                    stars.forEach((s, i) => {
                        if (i < value) {
                            s.classList.add('hovered');
                        }
                    });
                });

                star.addEventListener('mouseleave', () => {
                    stars.forEach((s) => {
                        s.classList.remove('hovered');
                    });
                });
            });

            function resetStars() {
                stars.forEach((s) => {
                    s.classList.remove('selected');
                });
            }

            const commentForm = document.getElementById('comment-form');
            const commentButton = document.getElementById('comment-button');
            commentForm.addEventListener('submit', (e) => {
                e.preventDefault();
                commentButton.innerHTML = 'Enviado <i class="fa fa-check"></i>';
                commentButton.disabled = true;
            });

        });
    </script>
</body>
</html>
